# Dependencies
node_modules/

# Environment & secrets
.env
.env.*
!.env.example

# Build outputs
.next/
out/
build/
dist/

# OS / editor
.DS_Store
*.pem

# Logs
*.log

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
